<!DOCTYPE html>
<html lang="de" data-theme="dark">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/pico.css" rel="stylesheet">
  <meta http-equiv="refresh" content="30">
</head>
<body >
{{{body}}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>
  </script>
</body>
</html>
